<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ticket Hero</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="app">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ticket Hero</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
            <li><a href="#" id="list-favorites"><i class="glyphicon glyphicon-star"></i></a></li>
          </ul>

          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" id="search">
            </div>
          </form>

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="current-category">All <span class="caret"></span></a>
              <ul class="dropdown-menu" id="categories-filter">
              </ul>
            </li>
          </ul>


          <ul class="nav navbar-nav pull-right">
            <li id="user-link"></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
      <div class="row"><div class="col-md-9">
        <div class="content">
        </div>
      </div>
      <div class="col-md-3" id="stream"></div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="details-modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="details-modal-content">
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="details-modal-title">Log in</h4>
            </div>
            <div class="modal-body" id="login-modal-content">
              <h4>Please <a href="#" id="loginModalLink">login</a> to view your favorites.</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="favorites-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="favorites-modal-title">Favorites</h4>
            </div>
            <div class="modal-body">
              <div class="row" id="favorites-modal-content">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script type="text/template" id="login-template">
      <% if (Parse.User.current()) { %>
        <a href="#" id="logout"> <%= Parse.User.current().get("nickname")%> <i class="glyphicon glyphicon-log-out"></i></a>
      <%}else{%>
        <a href="#" id="login"><i class="glyphicon glyphicon-log-in"></i></a>
      <%}%>
    </script>

    <script type="text/template" id="fav-template">
      <div class="col-md-6">
        <div class="thumbnail event" data-title="<%= title%>" data-category="<%= category%>">
          <img src="<%= display_picture%>" alt="<%= title%> display picture">

          <div class="caption">
            <h3>
              <small class="text-muted">
                <%= s(category).humanize().value()%>
              </small>
              <br/>
              <%= s(title).truncate(25).value()%>
              <br/>
              <small class="text-muted">
                <% if (typeof(venue) !== "undefined") { %>
                  <%= s(venue.attributes["title"]).truncate(40).value()%>
                <% } %>
              </small>
            </h3>
            <small class="text-muted">
              <% if (typeof(startDate) !== "undefined") { %>
                from <%= moment(startDate).format("DD/MM/YYYY")%>
              <%}%>
              <% if (typeof(endDate) !== "undefined") { %>
                till <%= moment(endDate).format("DD/MM/YYYY")%>
              <%}%>
            </small>
            <p><%= s(text).truncate(200).value() %></p>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="event-template">
      <div class="col-md-4">
        <div class="thumbnail event" data-title="<%= title%>" data-category="<%= category%>">
          <img src="<%= display_picture%>" alt="<%= title%> display picture">

          <div class="caption">
            <h3>
              <small class="text-muted">
                <%= s(category).humanize().value()%>
              </small>
              <br/>
              <a class="details" data-id="<%= objectId%>"><%= s(title).truncate(25).value()%></a>
              <br/>
              <small class="text-muted">
                <% if (typeof(venue) !== "undefined") { %>
                  <%= s(venue.attributes["title"]).truncate(40).value()%>
                <% } %>
              </small>
            </h3>
            <small class="text-muted">
              <% if (typeof(startDate) !== "undefined") { %>
                from <%= moment(startDate).format("DD/MM/YYYY")%>
              <%}%>
              <% if (typeof(endDate) !== "undefined") { %>
                till <%= moment(endDate).format("DD/MM/YYYY")%>
              <%}%>
            </small>
            <p><%= s(text).truncate(75).value() %></p>
            <p>
              <span class="pull-right">
                <a href="#" class="btn btn-default details" data-id="<%= objectId%>" role="button"><i class="glyphicon glyphicon-list"></i></a>
                <a href="#" class="btn btn-primary favorite <%= disabled%>" data-id="<%= objectId%>" role="button"><i class="glyphicon glyphicon-star"></i></a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </script>

     <script type="text/template" id="events-template">
      <div class="section">
        <div class="row" id="events-list">
        </div>
      </div>
    </script>

   <script type="text/template" id="star-template">
     <%= title%>
   </script>

   <script type="text/template" id="stream-template">
     <%_.map(stream, function(num) {%>
       <div class="row">
         <div class="col-md-12">
           <div class="stream-item">
             <small><%= num["text"] %></small><br/>
             <small class="text-muted"><%= num["timestamp"].format("MMM Do, YYYY")%></small>
           </div>
         </div>
       </div>
     <%})%>
   </script>

    <script type="text/template" id="event-details-template">
      <div class="row">
        <div class="col-md-6">
          <img src="<%= display_picture%>" alt="<%= title%> display picture" height=200 width="100%">
        </div>
        <div class="col-md-6">
          <h5><small class="text-muted">
            <% if (typeof(startDate) !== "undefined") { %>
              from <%= moment(startDate).format("DD/MM/YYYY")%>
            <%}%>
            <% if (typeof(endDate) !== "undefined") { %>
              till <%= moment(endDate).format("DD/MM/YYYY")%>
            <%}%>
          </small></h5>
          <%if (typeof(contestStartDate) !== "undefined" || typeof(contestEndDate) !== "undefined") {%>
            <h5>Contest
              <small class="text-muted">
              <% if (typeof(contestStartDate) !== "undefined") { %>
                from <%= moment(startDate).format("DD/MM/YYYY")%>
              <%}%>
              <% if (typeof(contestEndDate) !== "undefined") { %>
                till <%= moment(endDate).format("DD/MM/YYYY")%>
              <%}%>
            </small>
            </h5>
          <%}%>
          <% if (typeof(ticketCount) !== "undefined") { %>
            <h5>Tickets to give out: <%= ticketCount%></h5>
          <%}else{%>
            <h5>Tickets</h5>
          <%}%>
          <%_.map(window.TicketMaster.Data.Tickets.forEvent(objectId), function(num) {%>
            <h5>
              <%= num.attributes["kind"] %>
              RM<%= num.attributes["price"] %>
            </h5>
          <%})%>

          <h5>Address
            <br/>
            <small class="text-muted">
              <% if (typeof(venue) !== "undefined") { %>
              <%= venue.attributes["title"]%><br/>
              <%= venue.attributes["address"]%><br/>
              <%= venue.attributes["postcode"]%>, <%= venue.attributes["city"]%><br/>
              <%= venue.attributes["state"]%><br/>
              <%}%>
            </small>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>Description <br/><small class="text-muted"><%= text%></small></h5>
        </div>
      </div>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/v/bootstrap.min.js"></script>
    <script src="js/v/underscore.js"></script>
    <script src="js/v/moment.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.2.2/underscore.string.js"></script>
    <script src="js/v/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
      Parse.initialize('ROGciBSTWxzOA90XAbFxMRhS1DsIteMf7aXDMSdy', 'yWKmo4C0b4TdH6n2OfAJVLyJyUPWbHaXJpkfDRjC');

      window.fbAsyncInit = function() {
        Parse.FacebookUtils.init({
            appId      : '488841217942037',
            status     : true,
            cookie     : true,
            xfbml      : true
        });
      };

      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "http://connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));  </script>
    </script>
    <script src="js/app.js"></script>
    <script type="text/javascript">
      TicketMaster.init();
    </script>
  </body>
</html>
